<div class="k-display-flex k-justify-content-center">
    <div class="main-block login-form">
        <ng-container *ngIf="!forgotPasswordConfirm">
            <h1 class="k-mb-4 text-center">Забыли пароль?</h1>
            <form class="k-form" [formGroup]="form">
                <kendo-formfield>
                    <input kendoTextBox [(ngModel)]="forgotPasswordModel.email" required type="email" formControlName="email"
                           placeholder="E-mail" class="text-center"/>
                    <kendo-formerror *ngIf="form.controls.email.errors?.required">Введите электронную почту от своей учётной записи
                    </kendo-formerror>
                    <kendo-formerror *ngIf="form.controls.email.errors?.email">Недействительная электронная почта
                    </kendo-formerror>
                </kendo-formfield>
                <div class="k-display-flex k-justify-content-center k-mt-3">
                    <button class="btn btn-default k-ml-1" (click)="send()">Отправить</button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="forgotPasswordConfirm">
            <h1 class="k-mb-4 text-center">Подтверждение сброса пароля</h1>
            <p class="text-center">Пожалуйста, проверьте вашу почту для сброса пароля.</p>
        </ng-container>
    </div>
</div>