<header>
    <div class="display-flex justify-content-between align-items-center">
        <div class="logo display-flex align-items-center flex-nowrap">
            <a [routerLink]="homeUrl"><img src="/assets/Images/logo.png" alt="Личный кабинет школьника"></a>
            <div class="logo-name">
                <span class="h1 hidden-xs hidden-sm">Личный кабинет школьника</span>
                <span class="h2 hidden-xs hidden-sm">ПРИВОЛЖСКОГО ИССЛЕДОВАТЕЛЬСКОГО МЕДИЦИНСКОГО УНИВЕРСИТЕТА</span>
                <span class="h2 hidden-md hidden-lg">Личный кабинет<br/>школьника ПИМУ</span>
            </div>
        </div>
        <button id="btn-left-menu" type="button" class="btn btn-clipboard hidden-md hidden-lg onresize-left_positioning" aria-label="Показать меню">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
    </div>
</header>
