<header>
    <div class="display-flex justify-content-between align-items-center">
        <div class="logo display-flex align-items-center flex-nowrap">
            <a [routerLink]="homeUrl"><img src="/assets/Images/logo.png" alt="Личный кабинет школьника"></a>
            <div class="logo-name">
                <span class="h1">Личный кабинет школьника ПИМУ</span>
            </div>
        </div>
        <button id="btn-left-menu" type="button" title="Показать меню" class="hidden-md hidden-lg navbar-toggler"
                [style]="showBtnMenu ? 'display: flex;' : 'display: none;'">
            <span class="navbar-icon"></span>
        </button>
    </div>
</header>
