header {
  margin-bottom: 15px;
}
header .h1 {
  font-size: 29.167px;
  font-family: "Segoe UI";
  font-weight: lighter;
  display: block;
  text-transform: uppercase;
  margin: 0;
  color: #3f3f3f;
}
header .logo-name {
  padding-left: 20px;
  color: #f9f9f9;
}
header .logo img {
  max-height: 70px;
}
.navbar-toggler {
  padding: 4px 12px;
  font-size: 20px;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
}
.navbar-icon {
  background-image: url('../../../../assets/Images/navbar-icon.svg');
  width: 30px;
  height: 30px;
}
#btn-left-menu {
  margin-left: 5px;
}
@media (min-width: 767px) {
  header {
    margin-bottom: 15px;
  }
}
@media (min-width: 991px) {
  header {
    margin-bottom: 15px;
    background-color: inherit;
  }
}
@media (max-width: 990px) {
  #btn-left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
