.register-confirm-form {
    width: 100%;
    max-width: 450px;
    margin-top: 10px;
}
.register-confirm-form h1, .register-confirm-form .h1 {
    font-size: 22px;
}
@media (min-width: 767px) {
    .register-confirm-form {
        margin-top: 0;
    }
}
@media (min-width: 991px) {
    .register-confirm-form {
        margin-top: 0;
    }
}
