<div id="home-component" class="k-display-flex">
    <div id="profile" class="main-block">
        <h1>Сведения обо мне</h1>
        <dl *ngIf="!editMode; else edit" class="about">
            <kendo-label text="ФИО"></kendo-label>
            <dd >{{(profile?.lastName == null ? "" : profile.lastName) + " " +
            (profile?.firstName == null ? "" : profile.firstName) + " " +
            (profile?.middleName == null ? "" : profile?.middleName)}}</dd>
            <kendo-label text="Дата рождения"></kendo-label>
            <dd>{{profile?.birthDay == null ? "" : profile.birthDay.toLocaleDateString("ru-RU")}}</dd>
            <kendo-label text="Пол"></kendo-label>
            <dd>{{profile?.isMale == null ? "" : (profile.isMale ? "Мужской" : "Женский")}}</dd>
            <kendo-label text="E-mail"></kendo-label>
            <dd>{{profile?.email == null ? "" : profile.email}}</dd>
            <kendo-label text="Контактный телефон"></kendo-label>
            <dd>{{profile?.phoneNumber == null ? "" : '+7'+profile.phoneNumber}}</dd>
            <kendo-label text="Образовательное учреждение"></kendo-label>
            <dd>{{profile?.educationalInstitution?.educationalInstitutionName ?? ''}}</dd>
            <kendo-label text="Класс"></kendo-label>
            <dd>{{profile?.classNumber == null ? "" : profile.classNumber}}</dd>
            <kendo-label text="Имя родителя / представителя"></kendo-label>
            <dd>{{profile?.parentFIO == null ? "" : profile.parentFIO}}</dd>
            <kendo-label text="Контактный телефон родителя / представителя"></kendo-label>
            <dd>{{profile?.parentPhoneNumber == null ? "" : '+7'+profile.parentPhoneNumber}}</dd>
            <button kendoButton fillMode="solid" (click)="editProfile()" class="k-float-right">Редактировать</button>
        </dl>
    </div>
    <div id="announcements" class="main-block">
        <div class="k-display-flex k-justify-content-between">
            <h1>Объявления</h1>
            <div class="announcement-link"><a [routerLink]="announcementsUrl">Показать все</a></div>
        </div>
        <div class="announcement-item" *ngFor="let item of announcements">
            <div class="announcement-caption">
                <a [routerLink]="announcementsUrl + '/' + item.announcementType + '/' + item.id">{{item.title}}</a>
            </div>
            <div class="announcement-author">
                {{item.dateAdd.toLocaleTimeString("ru-RU")}} {{item.dateAdd.toLocaleDateString("ru-RU")}}
            </div>
            <div class="announcement-annotation">{{item.annotation}}</div>
            <div class="announcement-link">
                <a [routerLink]="announcementsUrl + '/' + item.announcementType + '/' + item.id">Читать далее</a>
            </div>
        </div>
    </div>
</div>
    
<ng-template #edit>
    <form class="k-form" [formGroup]="form">
        <kendo-formfield>
            <kendo-label [for]="lastName" text="Фамилия"></kendo-label>
            <input kendoTextBox #lastName required [(ngModel)]="profile.lastName" formControlName="lastName" maxlength="128"/>
            <kendo-formerror *ngIf="form.controls.lastName.errors?.required">Фамилия должна быть заполнена
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.lastName.errors?.maxLength">Максимальная длина 128 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="firstName" text="Имя"></kendo-label>
            <input kendoTextBox #firstName [(ngModel)]="profile.firstName" required formControlName="firstName"
                   maxlength="128"/>
            <kendo-formerror *ngIf="form.controls.firstName.errors?.required">Имя должно быть заполнено
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.firstName.errors?.maxLength">Максимальная длина 128 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="middleName" text="Отчество"></kendo-label>
            <input kendoTextBox #middleName [(ngModel)]="profile.middleName" formControlName="middleName"
                   maxlength="128"/>
            <kendo-formerror *ngIf="form.controls.middleName.errors?.maxLength">Максимальная длина 128 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="birthDay" text="Дата рождения"></kendo-label>
            <kendo-dateinput #birthDay [(ngModel)]="profile.birthDay" required format="dd.MM.yyyy"
                             formControlName="birthDay">
            </kendo-dateinput>
            <kendo-formerror *ngIf="form.controls.birthDay.errors?.required">Дата рождения должна быть заполнена
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="isMale" text="Пол"></kendo-label>
            <div class="k-block k-display-flex">
                <input kendoRadioButton type="radio" #isMale [value]="true" [(ngModel)]="profile.isMale"
                       required formControlName="isMale"/>
                <kendo-label class="k-radio-label k-ml-1 k-mr-2" [for]="isMale" text="Мужской"></kendo-label>
                <input kendoRadioButton type="radio" #isFemale [value]="false" [(ngModel)]="profile.isMale"
                       required formControlName="isMale"/>
                <kendo-label class="k-radio-label k-ml-1" [for]="isFemale" text="Женский"></kendo-label>
            </div>
            <kendo-formerror *ngIf="form.controls.isMale.errors?.required">Пол должен быть заполнен
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="email" text="E-mail"></kendo-label>
            <input kendoTextBox #email [(ngModel)]="profile.email" required type="email" email="true" formControlName="email"/>
            <kendo-formerror *ngIf="form.controls.email.errors?.required">Электронная почта должна быть заполнена
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.email.errors?.email">Недействительная электронная почта
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="phoneNumber" text="Контактный телефон"></kendo-label>
            <kendo-maskedtextbox #phoneNumber [(ngModel)]="profile.phoneNumber" required formControlName="phoneNumber"
                                 maxlength="128" mask="+7 (###) ###-##-##">
            </kendo-maskedtextbox>
            <kendo-formerror *ngIf="form.controls.phoneNumber.errors?.required">Номер телефона должен быть заполнен
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.phoneNumber.errors?.maxLength">Максимальная длина 128 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="cbEduIns" text="Образовательное учреждение"></kendo-label>
            <kendo-combobox #cbEduIns [data]="cbDataSource" [(ngModel)]="profile.educationalInstitution"
                            [filterable]="true" (filterChange)="handleFilter($event)" minlength="3"
                            textField="educationalInstitutionName" valueField="educationalInstitutionId" placeholder="Выберите образовательное учреждение"
                            formControlName="educationalInstitution" required>
            </kendo-combobox>
            <kendo-formerror *ngIf="form.controls.educationalInstitution.errors?.required">Образовательное учреждение должно быть заполнено
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="classNumber" text="Класс"></kendo-label>
            <kendo-numerictextbox [min]="1" [max]="11" [(ngModel)]="profile.classNumber" [autoCorrect]="true" format="n"
                                  required formControlName="classNumber" #classNumber>
            </kendo-numerictextbox>
            <kendo-formerror *ngIf="form.controls.classNumber.errors?.required">Номер класса должен быть заполнен
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.classNumber.errors?.min">Минимальное значение - 1
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.classNumber.errors?.max">Максимальное значение - 11
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="parentFIO" text="Имя родителя / представителя"></kendo-label>
            <input kendoTextBox #parentFIO [(ngModel)]="profile.parentFIO" required formControlName="parentFIO" maxlength="128"/>
            <kendo-formerror *ngIf="form.controls.parentFIO.errors?.required">Имя родителя/представителя должно быть заполнено
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.parentFIO.errors?.maxLength">Максимальная длина 128 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="parentPhoneNumber" text="Контактный телефон родителя / представителя"></kendo-label>
            <kendo-maskedtextbox #parentPhoneNumber [(ngModel)]="profile.parentPhoneNumber" required
                                 formControlName="parentPhoneNumber" mask="+7 (###) ###-##-##">
            </kendo-maskedtextbox>
            <kendo-formerror *ngIf="form.controls.parentPhoneNumber.errors?.required">Номер телефона родителя/представителя должен быть заполнен
            </kendo-formerror>
        </kendo-formfield>
        <div class="k-flex k-justify-content-between k-form-buttons">
            <button kendoButton fillMode="solid" (click)="cancel()" class="k-float-left">Отмена</button>
            <button kendoButton fillMode="solid" themeColor="primary" (click)="save()" class="k-float-right">Сохранить</button>
        </div>
    </form>
</ng-template>
