<div class="main-block">
    <h1>Курс</h1>
    <form class="k-form" [formGroup]="form">
        <kendo-formfield>
            <kendo-label [for]="name" text="Название"></kendo-label>
            <kendo-textarea #name [(ngModel)]="courseDetails.name" required formControlName="name"
                            maxlength="1024" [readonly]="!allowEdit" resizable="vertical"
                            placeholder="Заполните название курса">
            </kendo-textarea>
            <kendo-formerror *ngIf="form.controls.name.errors?.required">Обязательное поле
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.name.errors?.maxLength">Максимальная длина строки 1024 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="description" text="Описание курса"></kendo-label>
            <kendo-textarea #description [(ngModel)]="courseDetails.description" required formControlName="description"
                            maxlength="2048" [readonly]="!allowEdit" resizable="vertical"
                            placeholder="Заполните описание курса">
            </kendo-textarea>
            <kendo-formerror *ngIf="form.controls.description.errors?.required">Обязательное поле
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.description.errors?.maxLength">Максимальная длина строки 2048 символов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="teachers" text="Преподаватели"></kendo-label>
            <kendo-textarea #teachers [(ngModel)]="courseDetails.teachers" required formControlName="teachers"
                            maxlength="1024" [readonly]="!allowEdit" resizable="vertical"
                            placeholder="Заполните преподавателей курса">
            </kendo-textarea>
            <kendo-formerror *ngIf="form.controls.teachers.errors?.required">Обязательное поле
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.teachers.errors?.maxLength">Максимальная длина строки 1024 символов
            </kendo-formerror>
        </kendo-formfield>
        <div class="k-display-flex">
            <kendo-formfield>
                <div class="k-display-flex k-align-items-center">
                    <kendo-label [for]="dateBegin" text="с" class="k-mr-2"></kendo-label>
                    <kendo-datepicker #dateBegin [(ngModel)]="courseDetails.dateBegin" required format="dd.MM.yyyy"
                                      formControlName="dateBegin" style="width: 165px" [readonly]="!allowEdit">
                    </kendo-datepicker>
                </div>
                <kendo-formerror *ngIf="form.controls.dateBegin.errors?.required">Заполните дату начала
                </kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
                <div class="k-display-flex k-align-items-center">
                    <kendo-label [for]="dateEnd" text="по" class="k-mr-2 k-ml-2"></kendo-label>
                    <kendo-datepicker #dateEnd [(ngModel)]="courseDetails.dateEnd" required format="dd.MM.yyyy"
                                      formControlName="dateEnd" style="width: 165px" [readonly]="!allowEdit">
                    </kendo-datepicker>
                </div>
                <kendo-formerror *ngIf="form.controls.dateEnd.errors?.required">Заполните дату окончания
                </kendo-formerror>
            </kendo-formfield>
        </div>
        <kendo-formfield>
            <kendo-label [for]="duration" text="Длительность, ак. ч"></kendo-label>
            <kendo-numerictextbox #duration [(ngModel)]="courseDetails.academicHours"
                            formControlName="academicHours" required min="0" max="999"
                            placeholder="Заполните академические часы" [readonly]="!allowEdit">
            </kendo-numerictextbox>
            <kendo-formerror *ngIf="form.controls.academicHours.errors?.required">Обязательное поле
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.academicHours.errors?.min">Стоимость не должна быть меньше нуля
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.academicHours.errors?.max">Максимальное значение - 999 ак. часов
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="cost" text="Стоимость, руб"></kendo-label>
            <kendo-numerictextbox #cost [(ngModel)]="courseDetails.cost"
                                  formControlName="cost" required min="0" max="9999999"
                                  placeholder="Заполните стоимость курса" [readonly]="!allowEdit">
            </kendo-numerictextbox>
            <kendo-formerror *ngIf="form.controls.academicHours.errors?.required">Обязательное поле
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.academicHours.errors?.min">Стоимость не должна быть меньше нуля
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.academicHours.errors?.max">Стоимость превышает 9999999 рублей
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="status" text="Статус"></kendo-label>
            <kendo-dropdownlist #status [data]="courseStatuses" [(ngModel)]="courseDetails.status"
                                formControlName="status" required textField="name" valueField="id"
                                placeholder="Выберите статус" [readonly]="!allowEdit">
            </kendo-dropdownlist>
            <kendo-formerror *ngIf="form.controls.status.errors?.required">Обязательное поле
            </kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="teachers" text="Место проведения и контакты"></kendo-label>
            <kendo-textarea #teachers [(ngModel)]="courseDetails.location" required formControlName="location"
                            maxlength="1024" [readonly]="!allowEdit" resizable="vertical"
                            placeholder="Заполните место проведения курса">
            </kendo-textarea>
            <kendo-formerror *ngIf="form.controls.location.errors?.required">Обязательное поле
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.location.errors?.maxLength">Максимальная длина строки 1024 символов
            </kendo-formerror>
        </kendo-formfield>
        <div class="k-mt-3" *ngIf="!isAdmin">
            <kendo-label text="Статус записи"></kendo-label>
            <dd class="font-size-18">{{studentCourseStatus?.name ?? ''}}</dd>
        </div>
        <div class="k-display-flex k-justify-content-between k-mt-3">
            <button kendoButton fillMode="solid" (click)="cancel()" class="k-display-flex k-flex-nowrap k-mr-1">
                Отмена
            </button>
            <button *ngIf="isAdmin" kendoButton fillMode="solid" themeColor="primary" class="k-ml-1 k-mr-1"
                    (click)="saveCourse()">Сохранить
            </button>
            <button *ngIf="allowCourseRegistred && studentCourseStatus == null" kendoButton fillMode="solid"
                    themeColor="primary" class="k-ml-1 k-mr-1" (click)="registerCourse()">Записаться
            </button>
        </div>
        <kendo-tabstrip class="k-mt-3" (tabSelect)="onTabSelect($event)" *ngIf="courseDetails?.id != null">
            <kendo-tabstrip-tab title="Программа курса и расписание" selected="true">
                <ng-template kendoTabContent>
                    <div class="k-grid" style="width: 100%;">
                        <div class="k-grid-aria-root">
                            <div role="presentation" class="k-grid-header">
                                <div role="presentation" class="k-grid-header-wrap">
                                    <table>
                                        <thead kendogridheader role="presentation">
                                            <tr kendogridlogicalrow role="row" aria-rowindex="1">
                                                <th class="k-header text-center">Название</th>
                                                <th class="k-header text-center">Длительность</th>
                                                <th class="k-header text-center">Срок проведения</th>
                                                <th class="k-header text-center">Место проведения</th>
                                                <th class="k-header text-center" *ngIf="allowEdit"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="k-grid-container">
                                <div class="k-grid-content k-virtual-content">
                                    <div class="k-grid-table-wrap">
                                        <table class="k-grid-table" *ngFor="let programm of courseProgramms; let index = index">
                                            <colgroup kendogridcolgroup role="presentation">
                                                <col class="ng-star-inserted">
                                                <col class="ng-star-inserted">
                                                <col class="ng-star-inserted">
                                                <col class="ng-star-inserted">
                                                <col class="ng-star-inserted" style="width: 85px;" *ngIf="allowEdit">
                                            </colgroup>
                                            <tbody role="presentation">
                                                <tr style="background-color: #e3e3e3a1;" role="row">
                                                    <ng-container [ngSwitch]="programm.dataState">
                                                        <ng-container *ngSwitchCase="1"></ng-container>
                                                        <ng-container *ngSwitchDefault>
                                                            <td kendogridlogicalcell kendogridcell role="gridcell">
                                                                <input kendoTextBox required [readonly]="!allowEdit"
                                                                       [(ngModel)]="programm.name"
                                                                       [ngModelOptions]="{standalone: true}"
                                                                       (change)="programStateChange(programm)"/>
                                                            </td>
                                                            <td>{{programm.academicHours}} ак.ч.</td>
                                                            <td>{{programm.date}}</td>
                                                            <td></td>
                                                            <td class="text-center" *ngIf="allowEdit">
                                                                <button kendoButton fillMode="flat" icon="add"
                                                                        title="Добавить тему"
                                                                        (click)="addTheme(programm.id)">
                                                                </button>
                                                                <button kendoButton fillMode="flat" icon="delete"
                                                                        title="Удалить модуль"
                                                                        (click)="removeModule(programm.id)">
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                    </ng-container>
                                                </tr>
                                                <tr *ngFor="let theme of programm.themes; let index = index">
                                                    <ng-container [ngSwitch]="theme.dataState">
                                                        <ng-container *ngSwitchCase="1"></ng-container>
                                                        <ng-container *ngSwitchDefault>
                                                            <td>
                                                                <input kendoTextBox required
                                                                       [readonly]="!allowEdit"
                                                                       [(ngModel)]="theme.name"
                                                                       [ngModelOptions]="{standalone: true}"
                                                                       (change)="programStateChange(theme)"/>
                                                            </td>
                                                            <td>
                                                                <kendo-numerictextbox [(ngModel)]="theme.academicHours"
                                                                                      min="0" max="999" required
                                                                                      [readonly]="!allowEdit"
                                                                                      [ngModelOptions]="{standalone: true}"
                                                                                      (valueChange)="programStateChange(theme);recalcModuleAcademicHours(programm.id)">
                                                                </kendo-numerictextbox>
                                                            </td>
                                                            <td>
                                                                <kendo-datetimepicker required [(ngModel)]="theme.date"
                                                                                      [readonly]="!allowEdit"
                                                                                      [ngModelOptions]="{standalone: true}"
                                                                                      (valueChange)="programStateChange(theme);recalcModuleDate(programm.id)">
                                                                </kendo-datetimepicker>
                                                            </td>
                                                            <td>
                                                                <input kendoTextBox required [(ngModel)]="theme.location"
                                                                       [readonly]="!allowEdit"
                                                                       [ngModelOptions]="{standalone: true}"
                                                                       (change)="programStateChange(theme)"
                                                                />
                                                            </td>
                                                            <td class="text-center" *ngIf="allowEdit" style="width: 85px;">
                                                                <button *ngIf="allowEdit" kendoButton fillMode="flat"
                                                                        icon="delete" title="Удалить тему"
                                                                        (click)="removeTheme(programm.id, theme.id);
                                                                                 recalcModuleAcademicHours(programm.id);
                                                                                 recalcModuleDate(programm.id)">
                                                                </button>
                                                            </td>
                                                        </ng-container>
                                                    </ng-container>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="allowEdit" kendoButton fillMode="solid" themeColor="primary" class="k-mt-3"
                            (click)="addModule()">Добавить модуль
                    </button>
                    <button *ngIf="allowEdit" kendoButton fillMode="solid" themeColor="primary" class="k-mt-3 k-float-right"
                            (click)="saveCourseProgramm()">Сохранить
                    </button>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Записавшиеся' + (studentRegisteredNewRecord > 0 ? ' (' + studentRegisteredNewRecord + ')' : '')"
                                *ngIf="isAdmin">
                <ng-template kendoTabContent>
                    <kendo-grid [pageSize]="20" [pageable]="true" [sortable]="true" [columnMenu]="true"
                                [kendoGridBinding]="studentRegistered" [filter]="gridState.filter" [filterable]="true"
                                (remove)="removeStudentCourse($event)"
                                style="width: 100%;">
                        <kendo-grid-column title="№" width="45" class="text-center"
                                           [resizable]="true" [filterable]="false" [columnMenu]="false">
                            <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                                {{rowIndex + 1}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column title="ФИО" field="user.lastName" filter="text" width="260"
                                           [resizable]="true">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.user?.lastName + " " + dataItem.user?.firstName + " " + (dataItem.user?.middleName ?? "") + dataItem.isNewRecord ? ' (новая запись)' : ''}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column title="Статус записи" width="270" field="status.name" filter="text"
                                           [resizable]="true">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <kendo-dropdownlist [data]="studentCoursetStatuses" [value]="dataItem.status"
                                                    [readonly]="!allowEdit" textField="name" valueField="id"
                                                    (selectionChange)="dataStateChange($event, $any(dataItem))">
                                </kendo-dropdownlist>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="user.phoneNumber" title="Контактный телефон" filter="text"
                                           width="180"
                                           [resizable]="true">
                        </kendo-grid-column>
                        <kendo-grid-column field="user.email" title="E-mail" filter="text" width="210"
                                           [resizable]="true" [hidden]="true">
                        </kendo-grid-column>
                        <kendo-grid-column field="user.birthday" title="Дата рождения" filter="date" width="210"
                                           [resizable]="true" [hidden]="true">
                        </kendo-grid-column>
                        <kendo-grid-command-column width="57" class="text-center"
                                                   [columnMenu]="false"
                                                   *ngIf="allowEdit">
                            <ng-template kendoGridCellTemplate>
                                <button kendoGridRemoveCommand icon="delete" fillMode="clear"></button>
                            </ng-template>
                        </kendo-grid-command-column>
                    </kendo-grid>
                </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab title="Новости и объявления">
                <ng-template kendoTabContent>
                    <div *ngIf="!showCourseAddDetails">
                        <button *ngIf="allowEdit" kendoButton fillMode="solid" themeColor="primary"
                                class="k-mb-2 k-float-right" (click)="addCourseAd()">Добавить
                        </button>
                        <kendo-grid [pageSize]="20" [pageable]="true" [sortable]="true" [columnMenu]="true"
                                    [kendoGridBinding]="courseAds" [filter]="gridState.filter" [filterable]="true"
                                    (remove)="removeCourseAd($event)" (edit)="courseAdDetails($event)"
                                    (cellClick)="courseAdDetails($event)"
                                    style="width: 100%;">
                            <kendo-grid-column field="dateAdd" title="Дата" [resizable]="true" filter="date"
                                               format="dd.MM.yyyy HH:mm">
                            </kendo-grid-column>
                            <kendo-grid-column field="title" title="Объявление" [resizable]="true" filter="text">
                            </kendo-grid-column>
                            <kendo-grid-command-column width="100" class="text-center"
                                                       [columnMenu]="false"
                                                       *ngIf="allowEdit">
                                <ng-template kendoGridCellTemplate>
                                    <button kendoGridEditCommand icon="edit" fillMode="clear"></button>
                                    <button kendoGridRemoveCommand icon="delete" fillMode="clear"></button>
                                </ng-template>
                            </kendo-grid-command-column>
                        </kendo-grid>
                    </div>
                    <div *ngIf="showCourseAddDetails">
                        <form class="k-form" [formGroup]="formCourse">
                            <kendo-label [for]="title" text="Заголовок"></kendo-label>
                            <input #title kendoTextBox [(ngModel)]="courseAd.title" required formControlName="title"
                                   maxlength="512" [readonly]="!allowEdit"/>
                            <kendo-label [for]="annotation" text="Аннотация"></kendo-label>
                            <kendo-textarea #annotation [(ngModel)]="courseAd.annotation" required
                                            formControlName="annotation" maxlength="1024" [readonly]="!allowEdit"
                                            resizable="vertical">
                            </kendo-textarea>
                            <kendo-label text="Текст новости/объявления"></kendo-label>
                            <kendo-editor [(ngModel)]="courseAd.text" required formControlName="text"
                                          [readonly]="!allowEdit" *ngIf="allowEdit">
                            </kendo-editor>
                            <div class="k-block" [innerHTML]="courseAd.text" *ngIf="!allowEdit"></div>
                            <div class="k-mt-2 k-display-flex k-justify-content-between">
                                <button kendoButton fillMode="solid" (click)="closeCourseAdDetails()">Отмена</button>
                                <button *ngIf="allowEdit" kendoButton fillMode="solid" themeColor="primary"
                                        (click)="saveCourseAd()">Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip>
    </form>
    <div kendoDialogContainer></div>
</div>
