<div class="main-block">
  <h1>Мои курсы</h1>
  <button kendoButton fillMode="solid" themeColor="primary" class="k-mb-3" (click)="allCourses()">
    Все курсы
  </button>
  <kendo-grid [pageSize]="20" [pageable]="true" [sortable]="true" [columnMenu]="true" [filterable]="true"
              [kendoGridBinding]="courses" [loading]="gridLoading"
              (cellClick)="cellClick($event)"
              scrollable="virtual" style="width: 100%;">
    <kendo-grid-column field="name" title="Название" [resizable]="true" filter="text" width="370">
    </kendo-grid-column>
    <kendo-grid-column title="Срок проведения" [resizable]="true" [filterable]="false" width="210" class="text-center">
      <ng-template kendoGridCellTemplate let-dataItem>
        с {{dataItem.dateBegin.toLocaleDateString("ru-RU")}}
        по {{dataItem.dateEnd.toLocaleDateString("ru-RU")}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="academicHours" title="Длительность, ак.ч." [resizable]="true" filter="numeric" width="145"
                       class="text-center">
    </kendo-grid-column>
    <kendo-grid-column field="status.name" title="Статус курса" [resizable]="true" filter="text" width="135">
    </kendo-grid-column>
    <kendo-grid-column field="studentCourseStatus.name" title="Статус записи" [resizable]="true" filter="text"
                       width="143">
    </kendo-grid-column>
  </kendo-grid>
</div>
