/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------CONTENT BLOCK-----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
#content-block {
  width: 100%;
  margin-left: 0;
}
@media (min-width: 767px) {
  #content-block {
    margin-left: 0;
  }
}
@media (min-width: 991px) {
  #content-block {
    margin-left: 10px;
  }
}
