.resend-email-form {
    width: 100%;
    max-width: 450px;
    margin-top: 10px;
}
.resend-email-form h1, .resend-email-form .h1 {
    font-size: 22px;
}
@media (min-width: 767px) {
    .resend-email-form {
        margin-top: 0;
    }
}
@media (min-width: 991px) {
    .resend-email-form {
        margin-top: 0;
    }
}
