.reset-password-form {
    width: 100%;
    max-width: 450px;
    margin-top: 10px;
}
.reset-password-form h1, .reset-password-form .h1 {
    font-size: 22px;
}
@media (min-width: 767px) {
    .reset-password-form {
        margin-top: 0;
    }
}
@media (min-width: 991px) {
    .reset-password-form {
        margin-top: 0;
    }
}
