<div class="k-display-flex k-justify-content-center">
    <div class="main-block login-form">
        <ng-container *ngIf="resetPasswordConfirm">
            <h1 class="k-mb-4 text-center">Подтверждение сброса пароля</h1>
            <p class="text-center">Ваш пароль успешно сброшен. Перейдите <a [routerLink]="settings.loginUrl">по ссылке для входа</a></p>
        </ng-container>
        <ng-container *ngIf="!resetPasswordConfirm">
            <h1 class="k-mb-4 text-center">Сброс пароля</h1>
            <form class="k-form" [formGroup]="form">
                <kendo-formfield>
                    <input kendoTextBox [(ngModel)]="resetPasswordModel.email" required type="email" formControlName="email"
                           placeholder="Введите e-mail" class="text-center"/>
                    <kendo-formerror *ngIf="form.controls.email.errors?.required">Введите электронную почту от своей учётной записи
                    </kendo-formerror>
                    <kendo-formerror *ngIf="form.controls.email.errors?.email">Недействительная электронная почта
                    </kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                    <input kendoTextBox type="password" [(ngModel)]="resetPasswordModel.password" formControlName="password"
                           placeholder="Введите пароль" class="text-center"/>
                    <kendo-formerror *ngIf="form.controls.password.errors?.required">Заполните пароль от своей учётной записи
                    </kendo-formerror>
                </kendo-formfield>
                <kendo-formfield>
                    <input kendoTextBox type="password" [(ngModel)]="resetPasswordModel.confirmPassword" formControlName="confirmPassword"
                           placeholder="Введите пароль для подтверждения" class="text-center"/>
                    <kendo-formerror *ngIf="form.controls.confirmPassword.errors?.required">Заполните пароль от своей учётной записи
                    </kendo-formerror>
                </kendo-formfield>
                <div class="k-display-flex k-justify-content-center k-mt-3">
                    <button class="btn btn-default" (click)="send()">Сброс пароля</button>
                </div>
            </form>
        </ng-container>
    </div>
</div>